@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 2% 10% 0;
}

/* Header Section */
header {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
}

header ul,
header li {
  list-style: none;
  display: flex;
  gap: 16px;
}

header .icon {
  font-size: 32px;
}
